playbook_repo={{ playbook_repo }}
playbook_branch={{ playbook_branch }}
inventory_repo={{ inventory_repo }}
inventory_branch={{ inventory_branch }}
{# the format is a workaround for https://github.com/ansible/ansible/issues/24425 #}
vault_pw={{ '%s'|format(vault_pw)|b64encode }}
