## {{ ansible_managed }}

interface=eth-local
domain={{ domain }}
dhcp-range={{ dhcp_range }}
dhcp-authoritative

{% if eth_local_gateway %}
dhcp-option=option:router,{{ eth_local_gateway }}
{% elif eth_uplink_mac_address is defined and eth_uplink_mac_address %}
dhcp-option=option:router,{{ eth_local_address }}
{% else %}
# No default gateway defined. Machines on this network won't have access to the internet
# set eth_local_gateway / eth_uplink_mac_address,eth_local_address
# in ansible variables
{% endif %}

no-hosts
host-record={{ inventory_hostname }},{{ eth_local_address }}

{% if eth_uplink_dns_server is defined %}
server={{ eth_uplink_dns_server }}
{% endif %}
